body {
    background-image : url("../asserts/back_main.png");
    background-repeat: repeat;
}



@media screen and (min-width: 1600px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}




@media screen and (max-width: 1599px) and (min-width: 1280px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}



@media screen and (max-width: 1279px) and (min-width: 960px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}



@media screen and (max-width: 959px) and (min-width: 768px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}



@media screen and (max-width: 767px) and (min-width: 480px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}




@media screen and (max-width: 479px) {

    /* =========== 顶部的banner属性 =========== */
    .banner {
        position: relative;
        width   : 1000px;
        margin  : 10px auto;
    }

    .clearfix:after,
    .clearfix:before {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .banner-title {
        position: relative;
        display : inline-block;
        width   : 130px;
        padding : 10px 0 0 40px;
        color   : rgba(15, 136, 235, 1);
        font    : normal bold 32px "方正汉真广标-标准";
    }

    .banner>.banner-button {
        position: relative;
        float   : right;
    }

    .banner>.banner-button>.font-small {
        position                   : relative;
        margin                     : 14px 8px 0 0;
        padding                    : 8px;
        background-color           : rgba(255, 255, 255, 1);
        border                     : 1px none rgba(0, 0, 0, 1);
        cursor                     : pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration   : 0.4s;
        -o-transition-duration     : 0.4s;
        transition-duration        : 0.4s;
        text-align                 : center;
        font                       : normal bold 20px "方正汉真广标-标准";
    }

    .banner>.banner-button>.font-small:hover {
        background-color: rgba(15, 136, 235, 1);
        border          : 1px normal rgba(255, 255, 255, 1);
        color           : rgba(255, 255, 255, 1);
    }

    .banner>.banner-bottom-line {
        position  : relative;
        width     : 1000px;
        height    : 2px;
        margin    : 10px auto;
        border    : 2px solid rgba(15, 136, 235, 1);
        background: rgba(15, 136, 235, 1);
    }


    /* ========== bottom内部详细的信息 ========== */
    .bottom {
        position: relative;
        width   : 1000px;
        margin  : 0 auto;
    }

    .bottom .top-back {
        position        : relative;
        width           : 1000px;
        height          : 150px;
        margin          : 0px auto;
        background-color: rgba(222, 215, 215, 1);
    }

    .bottom .top-back .teacher-image {
        position: relative;
        float   : left;
        width   : 150px;
        height  : 192.75px;
        margin  : 40px 0 0 30px;
    }

    .bottom .top-back .teacher-name {
        position        : relative;
        float           : left;
        width           : 129px;
        height          : 40px;
        margin          : 40px 0 0 40px;
        background-color: rgb(1, 153, 255, 0.52);
        text-align      : center;
        color           : rgba(255, 255, 255, 1);
        font            : normal 20px/40px Arila;
    }

    .bottom .top-back .teacher-button {
        position                          : relative;
        float                             : left;
        width                             : 129px;
        height                            : 40px;
        margin                            : 40px 0 0 40px;
        text-align                        : center;
        border                            : none;
        cursor                            : pointer;
        -webkit-transition-duration       : 0.4s;
        -moz-transition-duration          : 0.4s;
        -o-transition-duration            : 0.4s;
        transition-duration               : 0.4s;
        -webkit-transition-delay          : 0.1s;
        -moz-transition-delay             : 0.1s;
        -o-transition-delay               : 0.1s;
        transition-delay                  : 0.1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function   : ease;
        -o-transition-timing-function     : ease;
        transition-timing-function        : ease;
        color                             : rgba(0, 0, 0, 1);
        font                              : normal bold 16px/40px Arial;
    }

    .bottom .top-back .teacher-button:hover {
        background-color: rgba(97, 146, 200, 1);
        color           : rgba(255, 255, 255, 1);
        opacity         : 0.8;
    }

    .bottom .top-back .teacher-inf {
        position  : relative;
        float     : right;
        width     : 80px;
        height    : 40px;
        margin    : 40px 20px 0 0;
        color     : rgba(0, 0, 0, 1);
        text-align: center;
        font      : normal normal 20px Arial;
    }

    .bottom .top-back .teacher-block {
        position   : relative;
        float      : right;
        width      : 80px;
        height     : 40px;
        margin     : 40px 0 0 0;
        color      : rgba(0, 0, 0, 1);
        text-align : center;
        font-family: normal normal 20px SourceHanSansSC-regular;
    }

    .inf {
        position: relative;
        width   : 1000px;

        margin: 20px auto;
    }

    .inf .inf-block {
        position: relative;
        width   : 800px;

        margin: 0 0 0 200px;
    }

    .inf .inf-block .title {
        position  : relative;
        display   : inline-block;
        width     : 150px;
        height    : 45px;
        color     : rgba(147, 138, 138, 1);
        text-align: right;
        font      : normal normal 26px/45px SourceHanSansSC-regular;
    }

    .inf .inf-block .content {
        position: relative;
        display : inline-block;
        margin  : 0 0 0 20px;
    }
}