/* banner属性 */
.banner {
    width   : 1000px;
    margin  : 10px auto;
    position: relative;
    overflow: hidden;
}

.banner-title {
    width       : 130px;
    padding-top : 10px;
    padding-left: 40px;
    position    : relative;
    color       : rgba(15, 136, 235, 1);
    font        : normal bold 32px "方正汉真广标-标准";
    display     : inline-block;
}

.banner>.banner-button {
    /* margin        : 8px; */
    position         : relative;
    float            : right;
}

.banner>.banner-button>.font-small {
    margin-top      : 14px;
    margin-right    : 8px;
    padding         : 8px;
    background-color: #FFFFFF;
    border          : none 1px #000000;
    text-align      : center;
    font            : normal bold 20px "方正汉真广标-标准";
    cursor          : pointer;
    /*动画过渡的时间*/
    transition-duration: 0.4s;
    position           : relative;
}

.banner>.banner-button>.font-small:hover {
    background-color: rgba(15, 136, 235, 1);
    border          : 1px #FFFFFF;
    color           : #FFFFFF;
}

.banner>.banner-bottom-line {
    width     : 1000px;
    height    : 2px;
    margin    : 10px auto;
    position  : relative;
    border    : 2px solid rgba(15, 136, 235, 1);
    background: rgba(15, 136, 235, 1);
}


/* 详细内容信息 */
.bottom{
    width: 1000px;
    position: relative;
    margin:0 auto;
}

.bottom .top-back{
    width: 1000px;
    height: 150px;
    position: relative;
    margin: 0px auto;
    background-color: rgba(222, 215, 215, 1);
}

.bottom .top-back .teacher-image{
    width: 150px;
    height: 192.75px;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.bottom .top-back .teacher-name{
    width: 129px;
    height: 40px;
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    opacity: 0.52;
    background-color: rgb(1, 153, 255);
    text-align: center;
    line-height: 40px;     /* 设置文字的行高和框相同设置水平居中 */
    color: #FFFFFF;
    font-size: 20px;
}

.bottom .top-back .teacher-button{
    left: 960px;
    top: 50px;
    width: 96px;
    height: 9px;
    position: absolute;
    color: rgba(15, 136, 235, 1);
    font-size: 24px;
    text-align: left;
    font-family: Roboto-regular;
}

.bottom .top-back .teacher-block{
    left: 1045px;
    top: 50px;
    width: 44px;
    height: 36px;
    position:absolute;
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.bottom .top-back .teacher-inf{

}


















.title{
    left: 380px;
    width: 130px;
    height: 45px;
    position: absolute;
    color: rgba(147, 138, 138, 1);
    font-size: 26px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}


#title1{
    top:200px;
}

#title2{
    top:250px;
}

#title3{
    top:300px;
}

#title4{
    top:350px;
}

#title5{
    top:400px;
}

#title6{
    top:450px;
}

#title7{
    top:500px;
}

#title8{
    top:550px;
}


.content{
    width: 500px;
    height: 30px;
    position: absolute;
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}


/* .contentBlock{
    left: 540px;
    top: 500px;
    width: 182px;
    height: 30px;
    position:absolute;
    line-height: 20px;
    background-color: rgba(15, 136, 235, 1);
    text-align: center;
    border: 1px solid rgba(15, 136, 235, 1);
} */


.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button11 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button11:hover {
    background-color: #008CBA;
    color: white;
}


.contentBlockFont{
    left: 550px;
    top: 500px;
    position:absolute;
    font-family: SourceHanSansSC-regular;
}
