body {
    background-image : url("../asserts/back_main.png");
    background-repeat: repeat;
}

/* ========== 上方banner栏属性 ========== */
.banner {
    position: relative;
    width   : 1000px;
    margin  : 10px auto;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* banner标题 */
.banner-title {
    position: relative;
    display : inline-block;
    width   : 130px;
    padding : 10px 0 0 40px;
    color   : rgba(15, 136, 235, 1);
    font    : normal bold 32px "方正汉真广标-标准";
}

/* banner右侧按钮 */
.banner>.banner-button {
    position: relative;
    float   : right;
}

/* banner按钮内的字体 */
.banner>.banner-button>.font-small {
    position        : realtive;
    margin          : 14px 8px 0 0;
    padding         : 8px;
    background-color: rgba(255, 255, 255, 1);
    border          : 1px none rgba(0, 0, 0, 1);
    cursor          : pointer;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration   : 0.4s;
    -o-transition-duration     : 0.4s;
    transition-duration        : 0.4s;
    text-align                 : center;
    font                       : normal bold 20px "方正汉真广标-标准";
}

/* banner按钮鼠标悬浮属性 */
.banner>.banner-button>.font-small:hover {
    background-color: rgba(15, 136, 235, 1);
    border          : 1px normal rgba(255, 255, 255, 1);
    color           : rgba(255, 255, 255, 1);
}

/* banner底部分割线 */
.banner>.banner-bottom-line {
    position  : relative;
    width     : 1000px;
    height    : 2px;
    margin    : 10px auto;
    border    : 2px solid rgba(15, 136, 235, 1);
    background: rgba(15, 136, 235, 1);
}


/* ========== 登录模块 ========== */
.login {
    position: relative;
    width   : 500px;
    margin  : 150px auto;
    border  : 1px solid rgba(15, 136, 235, 1);
}

/* 登录标题 */
.login .login-title {
    position: relative;
    display : block;
    width   : 200px;
    margin  : 20px auto 5px;
    padding : 0 0 0 30px;
    font    : bold 16px YouYuan;
}

/* 登录输入框 */
.login .login-input {
    position  : relative;
    width     : 200px;
    margin    : 0px auto 5px;
    text-align: center;
}

.login .forget-remember {
    position: relative;
    margin  : 20px auto;
    width   : 200px;
}

.login .login-forget {
    position: relative;
    float   : left;
}

.login .login-remember {
    position: relative;
    float   : right;
}

/* 登录提交模块 */
.login .login-submit {
    position  : relative;
    margin    : 20px auto;
    width     : 200px;
    text-align: center;
}

.login .login-submit-button {
    width                      : 122px;
    height                     : 32px;
    padding                    : 0 0 2px 0;
    border                     : none;
    border-radius              : 15px;
    cursor                     : pointer;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration   : 0.4s;
    -o-transition-duration     : 0.4s;
    transition-duration        : 0.4s;
    font                       : normal bold 14px rgba(0, 0, 0, 1);
}

.login .login-submit-button:hover {
    background-color: rgba(97, 146, 200, 1);
    color           : rgba(255, 255, 255, 1);
    opacity         : 0.8;
}