.banner {
    width   : 1000px;
    margin  : 10px auto;
    position: relative;
    overflow: hidden;
}

.banner-title {
    width       : 130px;
    padding-top : 10px;
    padding-left: 40px;
    position    : relative;
    color       : rgba(15, 136, 235, 1);
    font        : normal bold 32px "方正汉真广标-标准";
    display     : inline-block;
}

.banner>.banner-button {
    /* margin        : 8px; */
    position      : relative;
    float         : right;
}

.banner>.banner-button>.font-small {
    margin-top      : 14px;
    margin-right    : 8px;
    padding         : 8px;
    background-color: #FFFFFF;
    border          : none 1px #000000;
    text-align      : center;
    font            : normal bold 20px "方正汉真广标-标准";
    cursor          : pointer;
    /*动画过渡的时间*/
    transition-duration: 0.4s;
    position           : relative;
}

.banner>.banner-button>.font-small:hover {
    background-color: rgba(15, 136, 235, 1);
    border          : 1px #FFFFFF;
    color           : #FFFFFF;
}

.banner>.banner-bottom-line {
    width     : 1000px;
    height    : 2px;
    margin    : 10px auto;
    position  : relative;
    border    : 2px solid rgba(15, 136, 235, 1);
    background: rgba(15, 136, 235, 1);
}



.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button11 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button11:hover {
    background-color: #008CBA;
    color: white;
}


.topFontChoice{
    top:18px;
    position: absolute;
    white-space:pre;
}


.topInput{
    left: 160px;
    top: 65px;
    width: 260px;
    height: 35px;
    position:absolute;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}



.searchFont{
    left:444px;
    top: 66px;
    position:absolute;
    color: rgba(15, 136, 235, 1);
    font-family: Roboto-regular;
}


.job{
    left: 90px;
    top: 20px;
    width: 198px;
    height: 22px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 22px;
    font-weight:bold;
    text-align: left;
    font-family: Roboto-regular;
}


.jobTitle{
    left: 90px;
    width: 90px;
    height: 16px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 16px;
    font-weight:bold;
    text-align: left;
    font-family: Roboto-regular;
}

#jobTitle1{
    top:65px;
}

#jobTitle2{
    top:90px;
}

#jobTitle3{
    top:115px;
}

#jobTitle4{
    top:140px;
}

#jobTitle5{
    top:165px;
}



.jobContent{
    left: 180px;
    width: 800px;
    height: 16px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 16px;
    text-align: left;
    font-family: Roboto-regular;
}

#jobContent1{
    top:65px;
}

#jobContent2{
    top:90px;
}

#jobContent3{
    top:115px;
}

#jobContent4{
    top:140px;
}

#jobContent5{
    top:165px;
}



.jobFont{
    left: 900px;
    top: 130px;
    position: absolute;
    color: rgba(15, 136, 235, 1);
    font-family: SourceHanSansSC-regular;
}


.time{
    left: 900px;
    top: 20px;
    width: 150px;
    height: 36px;
    position: absolute;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}


