.banner {
    width   : 1000px;
    margin  : 10px auto;
    position: relative;
    overflow: hidden;
}

.banner-title {
    width       : 130px;
    padding-top : 10px;
    padding-left: 40px;
    position    : relative;
    color       : rgba(15, 136, 235, 1);
    font        : normal bold 32px "方正汉真广标-标准";
    display     : inline-block;
}

.banner>.banner-button {
    /* margin        : 8px; */
    position      : relative;
    float         : right;
}

.banner>.banner-button>.font-small {
    margin-top      : 14px;
    margin-right    : 8px;
    padding         : 8px;
    background-color: #FFFFFF;
    border          : none 1px #000000;
    text-align      : center;
    font            : normal bold 20px "方正汉真广标-标准";
    cursor          : pointer;
    /*动画过渡的时间*/
    transition-duration: 0.4s;
    position           : relative;
}

.banner>.banner-button>.font-small:hover {
    background-color: rgba(15, 136, 235, 1);
    border          : 1px #FFFFFF;
    color           : #FFFFFF;
}

.banner>.banner-bottom-line {
    width     : 1000px;
    height    : 2px;
    margin    : 10px auto;
    position  : relative;
    border    : 2px solid rgba(15, 136, 235, 1);
    background: rgba(15, 136, 235, 1);
}



.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button11 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button11:hover {
    background-color: #008CBA;
    color: white;
}

.topFontChoice{
    position: absolute;
    white-space:pre;
    color: rgba(36, 3, 3, 1);
    font-family: Roboto-regular;
}

#topFontChoice1{
    left: 250px;
    top:75px;
}

#topFontChoice2{
    left: 310px;
    top:75px;
}

#topFontChoice3{
    left: 370px;
    top:75px;
}

#topFontChoice4{
    left: 430px;
    top:75px;
}

#topFontChoice5{
    left: 250px;
    top:113.5px;
}

#topFontChoice6{
    left: 310px;
    top:113.5px;
}

#topFontChoice7{
    left: 350px;
    top:113.5px;
}

#topFontChoice8{
    left: 250px;
    top:152px;
}

#topFontChoice9{
    left: 310px;
    top:152px;
}

#topFontChoice10{
    left: 410px;
    top:152px;
}

#topFontChoice11{
    left: 470px;
    top:152px;
}

#topFontChoice12{
    left: 530px;
    top:152px;
}

#topFontChoice13{
    left: 590px;
    top:152px;
}


.topBlock{
    top: 234px;
    width: 146px;
    height: 40px;
    position:absolute;
    line-height: 20px;
    background-color: rgba(247, 247, 247, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}

#topBlock1{
    left:94px;
}

#topBlock2{
    left:252px;
}

#topBlock3{
    left:410px;
}


.topBlockFont{
    top: 240px;
    width: 110px;
    height: 22px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 22px;
    text-align: left;
    font-family: Roboto-regular;
}

#topBlockFont1{
    left:123px;
}

#topBlockFont2{
    left:270px;
}


#topBlockFont3{
    left:428px;
}


.borderLine{
    left: 20px;
    top:2px;
    width: 1094px;
    height: 2px;
    position:absolute;
    border: 2px solid rgba(187, 187, 187, 1);
    background: rgba(187, 187, 187, 1);
}


.imageTeacher{
    left: 45px;
    top: 35px;
    width: 73px;
    height: 116px;
    position:absolute;
    border-radius: 300px;
}


.name{
    left: 160px;
    top: 25px;
    width: 66px;
    height: 22px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 22px;
    font-weight:bold;
    text-align: left;
    font-family: Roboto-regular;
}


.nameTitle{
    left: 160px;
    width: 90px;
    height: 16px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 16px;
    font-weight:bold;
    text-align: left;
    font-family: Roboto-regular;
}

#nameTitle1{
    top:56px;
}

#nameTitle2{
    top:80px;
}

#nameTitle3{
    top:102px;
}

#nameTitle4{
    top:124px;
}

#nameTitle5{
    top:146px;
}



.nameContent{
    left: 250px;
    width: 800px;
    height: 16px;
    position:absolute;
    color: rgba(36, 3, 3, 1);
    font-size: 16px;
    text-align: left;
    font-family: Roboto-regular;
}

#nameContent1{
    top:56px;
}

#nameContent2{
    top:80px;
}

#nameContent3{
    top:102px;
}

#nameContent4{
    top:124px;
}

#nameContent5{
    top:146px;
}


.contactBlock{
    left: 900px;
    top: 80px;
    width: 110px;
    height: 44px;
    position:absolute;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}


.contactFont{
    left: 909px;
    top: 87px;
    width: 100px;
    height: 24px;
    position:absolute;
    color: rgba(15, 136, 235, 1);
    font-size: 24px;
    text-align: left;
    font-family: Roboto-regular;
}







